body {
    background-color: #ffffe6;
}

.main {
    width: 70%;
    min-height: 900px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    /*color: #808080;*/
    background-color: #85adad;
    /*font-size: 20px;
    font-weight: bold;*/
}

h1 {
    color: #ffffe6;
}

.main_bar {
    background-color: #ffffe6;
    padding: 5px;
    border-radius: 5px;
}

.main_bar > * {
    margin-left: 10px;
    margin-right: 10px;
}

.main_bar button {
    float: right;
}

.success_message {
    font-weight: bold;
    color: lightseagreen;
}

.error_message {
    font-weight: bold;
    color: red;
}

.guest_personal_info {
    float: left;
    background-color: #ffffe6;
    color: #797977;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.guest_friends {
    float: right;
    width: 28%;
    height: 700px;
    border-radius: 4px;
    border: solid #dbdbdb 3px;
    background-color: white;
}

.guest_requests {
    float: right;
    height: 250px;
    width: 220px;
    overflow-y: auto;
    background-color: #dbdbdb;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.guest_sent_requests {
    float: right;
    height: 250px;
    width: 200px;
    overflow-y: auto;
    background-color: #dbdbdb;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.guest_reservations {
    width: 65%;
    height: 430px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    padding-left: 20px;
    padding-right: 20px;
}

.guest_reservations table {
    float: left;
    background-color: #C5E0E5;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.guest_ratings {

}

.guest_visits {
    float: left;
}

.restaurant_info {
    float: left;
    border: red solid 1px;
}

.restaurant_menu {

}

.restaurant_ratings {
    float: left;
    border: blue solid 1px;
}

.restaurant_reservations {
    float: right;
    border: pink solid 1px;
}

.reservation_form {
    border: blue solid 1px;
}

ul
{
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul li {
    text-decoration: none;
}

/*
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}*/

.separator {
    clear: both;
}
