.guest_personal_info {
    float: left;
    border: red solid 1px;
}

.guest_friends {
    float: right;
    border: blue solid 1px;
}

.guest_requests {
    float: right;
    border: green solid 1px;
}

.guest_sent_requests {
    float: right;
    border: pink solid 1px;
}

ul
{
    padding: 0;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

/*
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}*/

.vertical_separator {
    clear: both;
}
