body {
    background-color: #ffffe6;
}

.main {
    width: 70%;
    min-height: 900px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    /*color: #808080;*/
    background-color: #85adad;
    /*font-size: 20px;
    font-weight: bold;*/
}

h1 {
    color: #ffffe6;
}

.main_bar {
    height: 30px;
    background-color: #ffffe6;
    padding: 5px;
    border-radius: 5px;
}

.main_bar a {
    color: #797977;
    font-weight: bold;
}

.main_bar > * {
    margin-left: 10px;
    margin-right: 10px;
}

.main_bar button {
    float: right;
    border-radius: 3px;
    background-color: #dbdbdb;
    border: solid #ffffe6 3px;
    padding: 5px;
    color: #85adad;
    font-weight: bold;
}

.success_message {
    font-weight: bold;
    color: lightseagreen;
}

.error_message {
    font-weight: bold;
    color: red;
}

.header_button {
    margin: 5px;
    border-radius: 3px;
    background-color: #dbdbdb;
    border: solid #ffffe6 3px;
    padding: 5px;
    color: #85adad;
    font-weight: bold;
}


.searchable_list {
    width: 50%;
    background-color: #ffffe6;
    color: #797977;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.searchable_list input {
    border-radius: 4px;
    border: solid #85adad 3px;
    margin-bottom: 15px;
}

.searchable_list table {
    margin-left: auto;
    margin-right: auto;
}

.searchable_list a {
    font-weight: bold;
    color: #797977;
}

.searchable_list a:visited {
    color: #797977;
}

.searchable_list a:hover {
    color: #85adad;
}

.guest_personal_info {
    float: left;
    background-color: #ffffe6;
    color: #797977;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.guest_friends {
    float: right;
    width: 28%;
    height: 700px;
    overflow-y: auto;
    border-radius: 4px;
    padding-left: 10px;
    border: solid #dbdbdb 5px;
    background-color: white;
}

.guest_friends ul {
    text-align: center;
    color: #85adad;
    font-weight: bold;
}

.guest_friends ul a:visited {
    color: #85adad;
}

.guest_friends ul a:hover {
    color: #dbdbdb;
}

.guest_requests {
    float: right;
    height: 250px;
    width: 220px;
    overflow-y: auto;
    background-color: #dbdbdb;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.guest_sent_requests {
    float: right;
    height: 250px;
    width: 200px;
    overflow-y: auto;
    background-color: #dbdbdb;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.guest_reservations {
    width: 65%;
    height: 430px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    padding-left: 20px;
    padding-right: 20px;
}

.guest_reservations table {
    float: left;
    background-color: #C5E0E5;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.guest_ratings {
    float: left;
    width: 240px;
    background-color: #dbdbdb;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.guest_ratings ul {
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    margin: 8px;
    padding: 5px;
}

.guest_visits {
    float: left;
    width: 240px;
    background-color: #dbdbdb;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.guest_visits ul {
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    margin: 8px;
    padding: 5px;
}

.guest_invitations {
    float: left;
    width: 240px;
    background-color: #dbdbdb;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.guest_invitations ul {
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    margin: 8px;
    padding: 5px;
}

.restaurant_info {
    float: left;
    background-color: #ffffe6;
    color: #797977;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.restaurant_menu {
    width: 60%;
    height: 700px;
    overflow-y: auto;
    border-radius: 4px;
    padding-left: 10px;
    border: solid #dbdbdb 5px;
    background-color: white;
}

.restaurant_menu ul {
    text-align: center;
    color: #85adad;
    font-weight: bold;
}

.restaurant_ratings {
    float: left;
    width: 25%;
    height: 430px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.restaurant_ratings ul {
    background-color: #C5E0E5;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.restaurant_reservations {
    float: right;
    border: pink solid 1px;
}

.reservation_form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffe6;
    color: #797977;
    border-radius: 4px;
}

.reservation_form * {
    margin-bottom: 5px;
}

.invite_friend {
    color: #ffffe6;
}

.invite_friend * {
    margin-bottom: 8px;
}

.invite_friend table {
    background: white;
    padding: 10px;
    border-radius: 4px;
}

.friend_for_invite {
    color: #797977;
    font-weight: bold;
}

.friend_for_invite:hover {
    color: #ffffe6;
    font-weight: bold;
}

.manager_personal_info {
    float: left;
    background-color: #ffffe6;
    color: #797977;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.manager_restaurant_info {
    float: right;
    background-color: #dbdbdb;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

.manager_menu {
    float: left;
    background-color: #dbdbdb;
    padding: 8px;
    border-radius: 4px;
}

.manager_reservations {
    float: right;
    width: 50%;
    height: 430px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #ffffe6;
    color: #797977;
    padding-left: 20px;
    padding-right: 20px;
}

.manager_reservations table {
    float: left;
    background-color: #C5E0E5;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

ul
{
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul li {
    text-decoration: none;
}

/*
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}*/

.separator {
    clear: both;
}
