<div ng-controller="GuestCtrl as vm">
    <div class="main_bar">
        <a href="#/home">Home</a>
        <a href="#/guests">Browse guests</a>
        <a href="#/restaurants">Browse restaurants</a>
        <button ng-click="vm.Logout()">Logout</button>
    </div>
    <label class="success_message">{{vm.successMessage}}</label>
    <label class="error_message">{{vm.errorMessage}}</label>
    <h2>{{vm.guest.DisplayName}}</h2>
    <div class="guest_personal_info"> <!--maybe section or something like that-->
        <h3>Personal info</h3>
        <table>
            <tr>
                <td>First name:</td>
                <td>{{vm.guest.FirstName}}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{vm.guest.LastName}}</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>{{vm.guest.Address.Street}} {{vm.guest.Address.Number}}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{vm.guest.Address.City}} {{vm.guest.Address.Zip}}</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>{{vm.guest.Gender}}</td>
            </tr>
        </table>
    </div>
    <button class="header_button" ng-show="vm.guest.Relation == 4" ng-click="vm.SendRequest(vm.guest.Username)">Add Friend</button>
    <button class="header_button" ng-show="vm.guest.Relation == 1" ng-click="vm.RemoveFriendship(vm.guest.Username)">Remove Friend</button>
    <button class="header_button" ng-show="vm.guest.Relation == 3" ng-click="vm.RemoveFriendship(vm.guest.Username)">Cancel Request</button>
    <button class="header_button" ng-show="vm.guest.Relation == 2" ng-click="vm.AcceptRequest(vm.guest)">Accept Request</button>
    <div class="guest_requests" ng-show="vm.guest.Relation == 0">
        <h4>Pending requests</h4>
        <table>
            <tr ng-repeat="request in vm.guest.FriendRequests">
                <td><a href="#/guest/{{request.Username}}">{{request.DisplayName}}</a></td>
                <!--<td><button ng-click="vm.AcceptRequest(request)">Accept</button></td>
                <td><button ng-click="vm.RemoveFriendship(request.Username)">Decline</button></td>-->
                <td><img src="../../assets/images/accept_friend_request.png" ng-click="vm.AcceptRequest(request)" /></td>
                <td><img src="../../assets/images/reject_friend_request.png" ng-click="vm.RemoveFriendship(request.Username)" ></td>
            </tr>
        </table>
    </div>
    <div class="guest_sent_requests" ng-show="vm.guest.Relation == 0">
        <h4>Sent requests</h4>
        <ul>
            <li ng-repeat="sentRequest in vm.guest.SentFriendRequests"><a href="#/guest/{{sentRequest.Username}}">{{sentRequest.DisplayName}}</a></li>
        </ul>
    </div>
    <hr class="separator">
    <div class="guest_friends" ng-show="vm.guest.Relation == 0 || vm.guest.Relation == 1">
        <h3>Friends</h3>
        <ul>
            <li ng-repeat="friend in vm.guest.Friends"><a href="#/guest/{{friend.Username}}">{{friend.DisplayName}}</a></li>
        </ul>
    </div>
    <div class="guest_reservations" ng-show="vm.guest.Relation == 0 || vm.guest.Relation == 1">
        <h4>Reservations</h4>
        <table ng-repeat="reservation in vm.guest.Reservations">
            <tr>
                <td>Restaurant:</td>
                <td>{{reservation.RestaurantName}}</td>
            </tr>
            <tr>
                <td>Table number:</td>
                <td>{{reservation.TableNumber}}</td>
            </tr>
            <tr>
                <td>Missed:</td>
                <td>{{reservation.DidShowUp ? 'No' : 'Yes'}}</td>
            </tr>
            <tr>
                <td>Time:</td>
                <td>{{reservation.Time}}</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>{{reservation.Hours}}h</td>
            </tr>
            <tr ng-show="vm.guest.Relation == 0">
                <td><a href="#/inviteFriend/{{reservation.ReservationId}}">Invite friend</a></td>
            </tr>
        </table>
        <br class="separator">
    </div>
    <div class="guest_visits" ng-show="vm.guest.Relation == 0 || vm.guest.Relation == 1">
        <h4>Visits</h4>
        <ul ng-repeat="visit in vm.guest.Visits">
            <li>
                <b>{{visit.RestaurantName}} </b>
                <span>{{visit.Time}}</span>
            </li>
        </ul>
    </div>
    <div class="guest_ratings" ng-show="vm.guest.Relation == 0 || vm.guest.Relation == 1">
        <h4>Ratings</h4>
        <!--<ul ng-repeat="rating in vm.guest.Ratings">
            <li> <div class="rating">
                <span ng-class="{checked: {{rating.Rating == 1}}}"><input type="radio" name="rating" id="str5" value="5" ng-model="confirmed" ng-change="vm.RatingChange(confirmed)" ng-click="vm.RatingClick()"><label for="str5"></label></span>
                <span ng-class="{checked: {{rating.Rating == 2}}}"><input type="radio" name="rating" id="str4" value="4" ng-model="confirmed" ng-change="vm.RatingChange(confirmed)" ng-click="vm.RatingClick()"><label for="str4"></label></span>
                <span ng-class="{checked: {{rating.Rating == 3}}}"><input type="radio" name="rating" id="str3" value="3" ng-model="confirmed" ng-change="vm.RatingChange(confirmed)" ng-click="vm.RatingClick()"><label for="str3"></label></span>
                <span ng-class="{checked: {{rating.Rating == 4}}}"><input type="radio" name="rating" id="str2" value="2" ng-model="confirmed" ng-change="vm.RatingChange(confirmed)" ng-click="vm.RatingClick()"><label for="str2"></label></span>
                <span ng-class="{checked: {{rating.Rating == 5}}}"><input type="radio" name="rating" id="str1" value="1" ng-model="confirmed" ng-change="vm.RatingChange(confirmed)" ng-click="vm.RatingClick()"><label for="str1"></label></span>
            </div></li>
        </ul>-->
        <ul>
            <li ng-repeat="rating in vm.guest.Ratings">
                <div ng-show="vm.ratingEditing != rating.RestaurantId">
                    <a href="#/restaurant/{{rating.RestaurantId}}">{{rating.RestaurantName}}</a>
                    <br>
                    <span ng-show="rating.Rating == 0">Not rated</span>
                    <span ng-show="rating.Rating > 0">☆</span>
                    <span ng-show="rating.Rating > 1">☆</span>
                    <span ng-show="rating.Rating > 2">☆</span>
                    <span ng-show="rating.Rating > 3">☆</span>
                    <span ng-show="rating.Rating > 4">☆</span>
                    <!--<label>{{rating.Rating}}</label>-->
                    <p>{{rating.Comment}}</p>
                    <!--<p>{{rating.Rated}}</p>-->
                    <button ng-show="rating.Rated" ng-click="vm.OpenRatingForm(rating)">Change</button>
                    <button ng-show="!rating.Rated" ng-click="vm.OpenRatingForm(rating)">Rate</button>
                </div>
                <div ng-show="vm.ratingEditing == rating.RestaurantId">
                    <!--<form>-->
                    <span>&nbsp;&nbsp;1</span>
                    <span>&nbsp;&nbsp;&nbsp;2</span>
                    <span>&nbsp;&nbsp;&nbsp;3</span>
                    <span>&nbsp;&nbsp;&nbsp;4</span>
                    <span>&nbsp;&nbsp;&nbsp;5</span>
                    <br>
                    <input type="radio" ng-model="radioRating" value="1">
                    <input type="radio" ng-model="radioRating" value="2">
                    <input type="radio" ng-model="radioRating" value="3">
                    <input type="radio" ng-model="radioRating" value="4">
                    <input type="radio" ng-model="radioRating" value="5">
                    <br>
                    <input type="text" ng-model="textRating">
                    <br>
                    <button ng-click="vm.SendRating(rating.RestaurantId, radioRating, textRating)">Rate</button>
                    <button ng-click="vm.CancelRating()">Cancel</button>
                    <!--</form>-->
                </div>
            </li>
        </ul>
    </div>
    <div class="guest_invitations" ng-show="vm.guest.Relation == 0">
        <h4>Reservation invitations</h4>
        <ul ng-repeat="invitation in vm.guest.ReservationInvitations">
            <li>
                <a href="#/restaurant/{{invitation.RestaurantId}}">{{invitation.RestaurantName}} </a>
                <span>{{visit.Time}}</span>
                <br>
                <span>Invited by {{invitation.InvitorDisplayName}}</span>
                <br>
                <button ng-show="invitation.Status == 0" ng-click="vm.AcceptInvitation(invitation.GuestReservationId)">Accept</button>
                <button ng-show="invitation.Status == 0"  ng-click="vm.DeclineInvitation(invitation.GuestReservationId)">Decline</button>
            </li>
        </ul>
    </div>
    <br class="separator">
</div>
</div>